.inner {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: @tablet) {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }

    @media (min-width: @desktop) {
        padding-left: 50px;
        padding-right: 50px;
        width: 1150px;
    }
}

.desktop-left {
    padding-left: 225px;
}

.reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-title {
    color: @text-main;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;

    @media (min-width: @tablet) {
        font-size: 43px;
        line-height: 50px;
    }

    @media (min-width: @desktop) {
        font-size: 53px;
        line-height: 57px;
    }
}

.transition {
    transition: all 0.4s ease;
}

.transition-quick {
    transition: all 0.2s ease;
}

.button-style {
    background-color: transparent;
    border: 2px solid @background-ghost-button;
    border-radius: 0;
    color: @text-small;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    .transition-quick();

    &:hover {
        background-color: @background-ghost-button;
        color: @text-white;
    }

    &:focus,
    &:active {
        background-color: @background-ghost-button;
        color: rgba(255, 255, 255, 0.3);
    }
}

.input-placeholder {
    &::placeholder {
        color: @text-small;
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-family: inherit;
        font-size: 17px;
        line-height: 18px;
        opacity: @active-opacity;

        @media (min-width: @tablet) {
            font-size: 19px;
            line-height: 18px;
        }
    }

    &:hover {
        border-color: @field-separator-color;
    }

    &:focus,
    &:active {
        border-color: @field-separator-color;

        &::placeholder {
            color: transparent;
        }
    }
}

.input-text {
    border-bottom: 2px solid @black;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    color: @text-small;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 18px;
    outline: none;
    width: 100%;

    .input-placeholder();

    @media (min-width: @tablet) {
        font-size: 19px;
        line-height: 18px;
        padding-left: 18px;
    }
}
