@menu-bottom-border-color-not-mobile: #e7e7e7;

.header__inner {
    .inner();

    @media (max-width: @desktop - 1) {
        padding: 0;
    }

    @media (min-width: @desktop) {
        border-bottom: 1px solid @menu-bottom-border-color-not-mobile;
    }
}

.header__menu-item {
    border-bottom: 1px solid @row-item-border-color;
    box-sizing: border-box;
    display: flex;
    height: 79px;
    justify-content: center;
    padding: 22px 0;
    position: relative;

    @media (min-width: @tablet) {
        border: none;
        flex-grow: 1;
        height: 100%;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
        width: 305px;
    }

    @media (min-width: @desktop) {
        align-items: center;
        flex-grow: 0;
        padding: 9px 0 0;
        width: 257px;
    }
}

.header__logo {
    &:hover {
        opacity: @hover-opacity;
    }

    &:focus,
    &:active {
        opacity: @active-opacity;
    }
}
