.top-sales {
    .inner();
}

.top-sales__title {
    margin: 30px 0 0;
    text-align: left;
}

.top-sales__promo-text {
    color: @tiffany;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
}

.top-sales__description {
    color: @text-small;
    font-size: 15px;
    line-height: 24px;
}

.top-sales__specs-table {
    border-collapse: collapse;
    color: @text-small;
    font-size: 15px;
    line-height: 20px;
    max-width: 394px;
}

.top-sales__specs-table th {
    font-weight: normal;
    padding: 11px 40px 11px 0;
    padding-right: 40px;
    text-align: left;
}

.top-sales__specs-table td {
    padding: 11px 0;
    width: 100%;
}

.top-sales__specs-table th,
.top-sales__specs-table td {
    border-bottom: 1px solid @row-item-border-color;
}

.top-sales__image {
    margin-top: 28px;
    width: 100%;
}

.top-sales__price {
    color: @text-small;
    display: block;
    font-size: 17px;
    line-height: 24px;
    margin: 14px 0 24px 0;
    text-align: center;
}
