.zigzag-separator {
    background-image: url('../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
    background-size: cover;
    height: 6px;

    @media (min-width: @tablet) {
        height: 15px;
    }

    @media (min-width: @desktop) {
        height: 23px;
    }
}
